nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid 
    a.navbar-brand(href="#") Hot Sauce Collection
    button.navbar-toggler(type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation")
        span.navbar-toggler-icon 
    .collapse.navbar-collapse#navbarNav 
      ul.navbar-nav 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") Home 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") New Sauce 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") Empty Bottles 

//- <nav class="navbar navbar-expand-lg navbar-light bg-light">
//-   <div class="container-fluid">
//-     <a class="navbar-brand" href="/sauces"
//-       >Hot Sauce Collection
//-       <img src="/icons/hot-sauce.png" alt="" width="30" height="24" />
//-     </a>
//-     <button
//-       class="navbar-toggler"
//-       type="button"
//-       data-bs-toggle="collapse"
//-       data-bs-target="#navbarNav"
//-       aria-controls="navbarNav"
//-       aria-expanded="false"
//-       aria-label="Toggle navigation"
//-     >
//-       <span class="navbar-toggler-icon"></span>
//-     </button>
//-     <div class="collapse navbar-collapse" id="navbarNav">
//-       <ul class="navbar-nav">
//-         <li class="nav-item">
//-           <a class="nav-link active" aria-current="page" href="/sauces">Home</a>
//-         </li>
//-         <li class="nav-item">
//-           <a class="nav-link" href="/sauces/new">New Sauce</a>
//-         </li>
//-         <li class="nav-item">
//-           <a class="nav-link" href="/sauces/resupply">Empty Bottles</a>
//-         </li>
//-       </ul>
//-     </div>
//-   </div>
//- </nav>