nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid 
    a.navbar-brand(href="#") Hot Sauce Collection  
       img(src='/icons/hot-sauce.png' alt='hot sauce icon' width='30' height='24')
    button.navbar-toggler(type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation")
        span.navbar-toggler-icon 
    .collapse.navbar-collapse#navbarNav 
      ul.navbar-nav 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") Home 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") New Sauce 
        li.nav-item 
          a.nav-link.active(aria-current="page" href="#") Empty Bottles 

